/* занулення стилів */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  /* ???- TГ?-?-??TЗ?-?-??TО */
}

body {
  line-height: 1;
  font-family: "Roboto";
  background: #c5c7c7;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 50px;
}

/* ------------------------------ */

/* ----------- */
.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}

button {
  cursor: pointer;
  background-color: rgb(167, 211, 211);
  border-radius: 5px;
  padding: 3px;
}

ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5 rem
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked+div {
  text-decoration: line-through;
  color: green;
}

input:checked+div+div {
  text-decoration: line-through;
  color: green;
}